html{
    display: flex;
    justify-content: center;    
}

header{
    margin-top: 40px;
}

#logo_principal{
    margin-left: 12px;
    position: absolute;
    margin-top: -40px;
}

.cabecalho_cima {
    width: 980px;
    height: 45px;
    background-color: #1B8E99;
    font-family: Arial;

}

.cabecalho_cima li{
    display: inline;
    margin: 0 4px 0 4px;

}

.cabecalho_cima a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 12px;

}

.cabecalho_baixo {
    width: 980px;
    height: 45px;
    background-color: #660000;
    font-family: Arial;

}

#banner_principal{
    
}

.cabecalho_baixo li{
    display: inline;
    margin: 0 4px 0 4px;

}

.cabecalho_baixo a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 12px;

}

