html{
    display: flex;
    margin-left: auto;
    margin-right: auto;   
    width: 980px
}

header{
    margin-top: 40px;
}

#logo_principal{
    margin-left: 12px;
    position: absolute;
    margin-top: -40px;
}

.cabecalho_cima {
    
    height: 45px;
    background-color: #1B8E99;
    font-family: Arial;
    
    
}

.cabecalho_cima ul{
    
    float: right;
    
}

.cabecalho_cima li{
    display: inline;
    padding: 0.25em;
    
    

}

.cabecalho_cima a{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 12px;

}

 #destaque_nav{
    background-color: #92c9ce; 
}


.cabecalho_baixo {

    width: 980px;
    height: 45px;
    background-color: #660000;
    font-family: Arial;
    
}

.cabecalho_baixo ul{
    
}



.cabecalho_baixo li{
    display: inline;
    
    padding: 0.25em;
    

}

.cabecalho_baixo a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 12px;

}


#titulo_loja_virtual{
    
    font-family: Arial;
    color: #660000;
    margin-top: 2em;
    margin-left: 1em;
    border-bottom: #660000 3.5px solid;
    display: inline;
    width: 800px;
    padding-right: 65%
    
}


#imagem_drone_titulo_loja_virtual{
    width: 125px;
    height: 77px;
    display: inline;
    margin-top: 2em;
}

.loja_virtual_cards{
    display: inline;
}
